@import "src/styles/general";

.homePage {
  display: flex;
  flex-direction: column;

  .homePage__desc {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: space-evenly;

    .desc__title {
      font: {
        size: 4rem;
        weight: bold;
      }
      color: map-get($colors, "white");
    }

    .desc__btn {
      width: 20%;
      height: 20%;
      font: {
        size: 2rem;
        weight: bold;
      }
      background-color: map-get($colors, "yello-orange");
      border: unset;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}