@import "src/styles/general";


.quiz > div.quiz__main.active {
  display: grid;
}

.quiz {
  width: 100%;
  height: 100%;

  .quiz__main {
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
    margin: auto;
    width: 50%;
    height: 100%;
    background-color: map-get($colors, "light-gray");
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

    .quiz__main:first-child {

    }

    .quiz__main-item {
      padding: unset;
      z-index: 1;
    }

    .quiz__main-btn:first-child {
      font: {
        size: 1rem;
        weight: bold;
      }
      text-align: start;
      cursor: pointer;

      &:hover {
        color: map-get($colors, "yello-orange");
      }
    }

    .quiz__questions {
      display: grid;
      grid-template-rows: 1fr 2fr;
      align-items: center;
      gap: 20px;
    }


  }

  .quiz__main-btn {
    font: {
      size: 2rem;
      weight: bold;
    }
    border: unset;
    color: map-get($colors, "dark teal");
    z-index: 1;
  }

  .quiz__loading {
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 100%;
    font: {
      size: 5rem;
      weight: bold;
    }
  }

  .quiz__error {
    width: 100%;
    height: 100%;
  }

}