@import "src/styles/general";

.react-select__control {
  background-color: unset;
}

.react-select__value-container {
}

.react-select__indicators {

}

.react-select__menu {
  height: 100px;
}

.react-select__menu div{
  max-height: 100px;
}