@import "src/styles/general";

.select {
  width: 100%;
  color: map-get($colors, "black");
  background-color: unset;
}

.registration {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  &__header {
    height: 50%;
  }

  &__main {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &-form,
    &-btn {
      display: grid;
      align-items: center;
    }

    &-form {
      grid-template-rows: 1fr 1fr;
      height: 70%;
    }

    &-btn {
      height: 30%;
      justify-content: center;
      align-items: unset;
      cursor: pointer;
    }
  }

  .form {
    &__item {
      width: 100%;
      height: 100%;
      font: {
        size: 1.5rem;
        weight: bold;
      }
    }
  }

  .playerName {
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;

    &__label {
      color: map-get($colors, "white");
      font: {
        size: 2rem;
        weight: bold;
      }
    }

    &__input {
      height: 50%;
      font: {
        size: 2rem;
        weight: normal;
      }
      text-align: center;
      background-color: unset;
      color: map-get($colors, "white");

      &:focus,
      &:hover {
        color: map-get($colors, "white");
        box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.25);
      }
    }

    &__errorMessage {
      position: absolute;
      max-width: 250px;
      min-width: 250px;
      bottom: 73%;
      right: 70px;
      text-align: start;
      color: map-get($colors, "red");
      font: {
        size: 1rem;
        weight: bold;
      }
    }
  }

  .category {
    display: grid;
    grid-template-rows: 1fr 1fr;
    z-index: 2;

    &__label {
      color: map-get($colors, "white");
      font: {
        size: 2rem;
        weight: bold;
      }
    }
  }
}