@import "src/styles/general";

input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: #004643;
}

.select {
  width: 100%;
  color: map-get($colors, "black");
  background-color: unset;
}
//select {
//  width: 100%;
//  -webkit-appearance: none;
//  -moz-appearance: none;
//  appearance: none;
//  padding: 0;
//  margin: 10px 0 40px 0;
//  border: unset;
//  font: {
//    size: 1.5rem;
//    weight: normal;
//  }
//  text-align: center;
//  //background-color: unset;
//  color: black;
//  cursor: pointer;
//}
//
//select:focus-visible {
//  outline: none;
//  border-color: transparent;
//  box-shadow: unset;
//}
//
//select:focus,
//select:hover
//{
//  box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.25);
//}
//
//select option {
//  padding: 10px;
//  font-size: 16px;
//}

.registration {
  width: 100%;
  height: 100%;

  .registration__header {
    height: 50%;
  }

  .registration__main {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
  }

  .registration__main-form {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form__item {
      width: 50%;
      height: 80%;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      color: map-get($colors, "white");
      font: {
        size: 2rem;
        weight: bold;
      }

      .form__item-label {
        width: 100%;
      }

      .playerName {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;

        .playerName__input {
          width: 100%;
          font: {
            size: 1.5rem;
            weight: normal;
          }
          text-align: center;
          background-color: unset;
          color: map-get($colors, "white");

        }

        .playerName__input:focus,
        .playerName__input:hover {
          color: map-get($colors, "white");
          box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.25);
        }

        .playerName__errorMessage {
          padding: 0 0 0 10px;
          font: {
            size: 1rem;
            weight: normal;
          }
          position: absolute;
          top: 35%;
          width: max-content;
          color: map-get($colors, "yello-orange");
        }
      }

    }
    .form__btn:hover {
      background-color: map-get($colors, "white");
      color: map-get($colors, "yello-orange");
      box-shadow: 0 0 12px 6px rgba(0, 0, 0, 0.25);
    }
  }
}
